{% extends 'base.html.twig' %}

{% block body %}
    <!-- success msg -->
    {% if successMSG is not empty %}
        {% if successAction == 'con' %}
            <script>document.getElementById('contactId').click();</script>
        {% elseif successAction == 'sub' %}
            <script>document.getElementById('footerSubId').click();</script>
        {% endif %}
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="removeElementpopup()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{successMSG}}</p>
                    </div>
                    <div class="modal-footer">
                        <img src="images/logo-no-background_.png" id="logoXContactUS" alt="Logo" />
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!---->
    <!-- Start header Area -->
    <section id="hero-area" class="header-area header-eight">
        <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
            <div class="header-content">
                <h1>Trouvez Rapidement le Centre de Kiné Parfait pour Vous (à domicile inclus).</h1>
                <p>
                 Découvrez notre plateforme intuitive qui vous connecte aux centres de kinésithérapie les mieux notés à domicile ou près de chez vous pour votre bien-être. Que vous ayez besoin de soins réguliers ou d'une consultation ponctuelle, nous facilitons votre recherche pour que vous puissiez vous concentrer sur votre bien-être.
                </p>
                <div class="button garderX">
                <a href="javascript:void(0)" class="btn primary-btn">Get Started</a>
                <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
                    class="glightbox video-button">
                    <span class="btn icon-btn rounded-full">
                    <i class="lni lni-play"></i>
                    </span>
                    <span class="text">Watch Intro</span>
                </a>
                </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
            <div class="header-image">
                <img src="images/header/hero-image.jpg" alt="#" />
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End header Area -->

    <!--====== ABOUT FIVE PART START ======-->

    <section class="about-area about-five">
        <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
            <div class="about-image-five">
                <svg class="shape" width="106" height="134" viewBox="0 0 106 134" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA" />
                <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA" />
                <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="31" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="31" cy="132" r="1.66667" fill="#DADADA" />
                <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA" />
                <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA" />
                <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA" />
                <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA" />
                <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA" />
                <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA" />
                <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA" />
                <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA" />
                <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA" />
                <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA" />
                <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="103" r="1.66667" fill="#DADADA" />
                <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA" />
                <circle cx="104" cy="132" r="1.66667" fill="#DADADA" />
                </svg>
                <img src="images/about/about-img1.jpg" alt="about" id="about1"/>
                <img src="images/about/about-img2.jpg" alt="about" id="about2" disabled/>
            </div>
            </div>
            <div class="col-lg-6 col-12">
            <div class="about-five-content">
                <h6 class="small-title text-lg">Notre Objectif</h6>
                <h2 class="main-title fw-bold">Nous sommes dédiés à améliorer l'accès aux soins de kinésithérapie pour tous</h2>
                <div class="about-five-tab">
                <nav id="navX">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-who-tab" onclick="aboutPik(1);" data-bs-toggle="tab" data-bs-target="#nav-who"
                        type="button" role="tab" aria-controls="nav-who" aria-selected="true">Centre Kinésithérapie</button>
                    <button class="nav-link" id="nav-vision-tab" onclick="aboutPik(2);" data-bs-toggle="tab" data-bs-target="#nav-vision"
                        type="button" role="tab" aria-controls="nav-vision" aria-selected="false">Patient</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
                        <h4 class="main-title fw-bold">Développez Votre Pratique avec Nous</h4>
                        <p> Nous aidons les centres de kinésithérapie à attirer plus de patients en leur proposant des patients inscrits sur notre plateforme. En rejoignant notre réseau, vous bénéficierez de :</p>
                        <ul>
                            <li>Evaluation des patients après la consultation pour améliorer votre pratique.</li>
                            <li>Proposition des patients qualifiés directement à votre centre.</li>
                            <li>Communication facilitée avec de nouveaux patients grâce à notre service dédié.</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                        <h4 class="main-title fw-bold">Trouvez le Meilleur Soin Pour Vous</h4>
                        <p>Notre priorité est votre bien-être. En utilisant notre plateforme, vous pouvez :</p>
                        <ul>
                            <li>Vous inscrire et être mis en relation avec le centre de kinésithérapie le plus adapté à vos besoins.</li>
                            <li>Recevoir un conseil personnalisé pour choisir le meilleur centre proche de chez vous.</li>
                            <li>Accéder à des services de kiné à domicile pour recevoir des soins dans le confort de votre maison.</li>
                            <li>Laissez des avis pour aider les futurs patients à faire leur choix.</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- container -->
    </section>

    <!--====== ABOUT FIVE PART ENDS ======-->

    <!-- ===== service-area start ===== -->
    <section id="services" class="services-area services-eight">
        <!--======  Start Section Title Five ======-->
        <div class="section-title-five">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <div class="content">
                <h6>Services</h6>
                <h2 class="fw-bold">Nos Services pour Centres de Kiné et Patients...</h2>
                <p>
                    Nous offrons une gamme de services dédiés à améliorer l'accès aux soins de kinésithérapie pour les patients tout en aidant les centres de kiné à attirer de nouveaux clients. Découvrez comment nous pouvons faire une différence pour vous.
                </p>
                </div>
            </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        </div>
        <!--======  End Section Title Five ======-->
        <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <div class="service-icon">
                <i class="lni lni-rocket"></i>
                </div>
                <div class="service-content">
                <h4>Visibilité des Centres de Kiné</h4>
                <p>
                    En rejoignant notre plateforme, les centres de kinésithérapie bénéficient d'une visibilité accrue en ligne, attirant ainsi plus de patients potentiels intéressés par leurs services.
                </p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <div class="service-icon">
                <i class="lni lni-search"></i>
                </div>
                <div class="service-content">
                <h4>Recherche Facile de Services Kiné</h4>
                <p>
                     Notre plateforme permet aux patients de trouver facilement et rapidement les services de kinésithérapie adaptés à leurs besoins spécifiques, en quelques clics seulement.
                </p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <div class="service-icon">
                <i class="lni lni-network"></i>
                </div>
                <div class="service-content">
                <h4>Plusieurs Choix pour les Patients</h4>
                <p>
                    Nous proposons plusieurs options de centres de kinésithérapie, offrant ainsi aux patients la liberté de choisir celui qui correspond le mieux à leurs attentes et à proximité de chez eux.
                </p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <div class="service-icon">
                <i class="lni lni-dashboard"></i>
                </div>
                <div class="service-content">
                <h4>Suivi de la Demande</h4>
                <p>
                    Notre conseiller assure un suivi personnalisé de chaque demande, garantissant que chaque patient reçoit l'accompagnement nécessaire et que les centres obtiennent des patients qualifiés.
                </p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <div class="service-icon">
                <i class="lni lni-layers"></i>
                </div>
                <div class="service-content">
                <h4>Réponse Rapide</h4>
                <p>
                    Notre équipe répond rapidement aux demandes via WhatsApp ou d'autres solutions Internet, assurant une communication fluide et rapide entre les patients et les centres de kiné.
                </p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <div class="service-icon">
                <i class="lni lni-reload"></i>
                </div>
                <div class="service-content">
                <h4>Amélioration de la Qualité</h4>
                <p>
                    Nous collectons et analysons les feedbacks des patients pour améliorer continuellement la qualité des services fournis par les centres de kiné inscrits sur notre plateforme.
                </p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6">
            <div class="single-services">
                <div class="service-icon">
                <i class="lni lni-customer"></i>
                </div>
                <div class="service-content">
                <h4>Services de Kiné à Domicile</h4>
                <p>
                    Nous offrons la possibilité de recevoir des soins de kinésithérapie directement à domicile. Profitez du confort de votre maison tout en recevant des soins professionnels adaptés à vos besoins.
                </p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ===== service-area end ===== -->

    <!-- Start Cta Area -->
    <section id="call-action" class="call-action">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
            <div class="inner-content">
                <h2>Transformez Votre Expérience de Soins de Kiné</h2>
                <p>
                Rejoignez notre communauté et ressentez la différence. Que vous soyez un centre de kinésithérapie souhaitant atteindre plus de patients ou un patient cherchant des soins de qualité, nous avons la solution pour vous. Ensemble, nous pouvons améliorer l'accès aux soins et garantir une expérience satisfaisante pour tous.
                </p>
                <div class="light-rounded-buttons">
                <a href="#contact" class="btn primary-btn-outline">Démarrez l'Expérience</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End Cta Area -->

    <!-- Start Brand Area -->
    <div id="clients" class="brand-area section garderX">
        <!--======  Start Section Title Five ======-->
        <div class="section-title-five">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <div class="content">
                <h6>Meet our Clients</h6>
                <h2 class="fw-bold">Our Awesome Clients</h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form.
                </p>
                </div>
            </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        </div>
        <!--======  End Section Title Five ======-->
        <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
            <div class="clients-logos">
                <div class="single-image">
                <img src="images/client-logo/graygrids.svg" alt="Brand Logo Images" />
                </div>
                <div class="single-image">
                <img src="images/client-logo/uideck.svg" alt="Brand Logo Images" />
                </div>
                <div class="single-image">
                <img src="images/client-logo/ayroui.svg" alt="Brand Logo Images" />
                </div>
                <div class="single-image">
                <img src="images/client-logo/lineicons.svg" alt="Brand Logo Images" />
                </div>
                <div class="single-image">
                <img src="images/client-logo/tailwindtemplates.svg" alt="Brand Logo Images" />
                </div>
                <div class="single-image">
                <img src="images/client-logo/ecomhtml.svg" alt="Brand Logo Images" />
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- End Brand Area -->

    <!-- ========================= contact-section start ========================= -->
    <section id="contact" class="contact-section">
        <div class="container">
        <div class="row">
            <div class="col-xl-4">
            <div class="contact-item-wrapper">
                <div class="row">
                <div class="col-12 col-md-6 col-xl-12">
                    <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-phone"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Contact</h4>
                        <p>+212 780-447368</p>
                        <p>contact@allokineservice.ma</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-12">
                    <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-map-marker"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Addresse</h4>
                        <p>Casablanca - Rabat</p>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-12">
                    <div class="contact-item">
                    <div class="contact-icon">
                        <i class="lni lni-alarm-clock"></i>
                    </div>
                    <div class="contact-content">
                        <h4>Horaire</h4>
                        <p>24 heures / 7 jours</p>
                        <p>Heures de bureau: 09:00 - 23:30</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-xl-8">
            <div class="contact-form-wrapper">
                <div class="row">
                    <div class="col-xl-10 col-lg-8 mx-auto">
                        <div class="section-title text-center">
                        <span> Get in Touch </span>
                        <h4>
                            Prêt à Commencer ^_^ !
                        </h4>
                        </div>
                    </div>
                </div>

                <div id="temp-form-container" class="contact-form">
                    {{ form_start(contactForm, {'action': path('app_processcontactusform')}) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(contactForm.fullName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(contactForm.email) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(contactForm.phoneNumber) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(contactForm.city) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(contactForm.choiceList) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 margin-top-pb">
                            {{ form_row(contactForm.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="button text-center rounded-buttons">
                                <button type="submit" class="btn primary-btn rounded-full margin-top-pb">Envoyer</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(contactForm) }}
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ========================= contact-section end ========================= -->
    <style>
    /* Optionnel : Personnalisez les styles pour les boîtes de dialogue modales ici */
        .modal {
            display: block;
            background-color: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent à la boîte de dialogue */
            align-items: center;
        }

        .modal-content {
            background-color: #ffffff; /* Change la couleur de fond du contenu de la boîte de dialogue */
            margin: auto;
        }

        .modal-dialog{
            margin-top: 11.5rem;
        }

        .modal-body{
            text-align : center;
        }

        #logoXContactUS{
            height: 30px;
        }

        .margin-top-pb{
            margin-top : 30px;
        }
</style>
<script>
    function removeElementpopup() {
        var element = document.getElementById("exampleModal");
        element.remove();
    }
</script>
{% endblock %}
