{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 130px;">
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-form-wrapper">
                    <div class="row">
                        <div class="col-xl-10 col-lg-8 mx-auto">
                            <div class="section-title text-center">
                            <span> Let's Go Admin</span>
                            <h4>
                                Connexion ^_^ !
                            </h4>
                            </div>
                        </div>
                    </div>
                    <div id="temp-form-container" class="contact-form">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {{ form_start(loginForm, {'action': path('login')}) }}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(loginForm.email) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(loginForm.password) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="button text-center rounded-buttons">
                                        <button type="submit" class="btn primary-btn rounded-full margin-top-pb">Se connecter</button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(loginForm, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
